<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Vijay High School Managment Portal
  </h1>
  <br>
  <ul class="nav nav-tabs">
    <li class="active"><a  routerLink="/home" routerLinkActive="active"> Home</a></li>
    <li><a  routerLink="/register" routerLinkActive="active">Registration</a></li>
    <li><a  routerLink="/update" routerLinkActive="active">Update Student Marks</a></li>
    <li><a  routerLink="/report" routerLinkActive="active">Student Score</a></li>
    <li><a  routerLink="/performByYear" routerLinkActive="active">Performace of an year</a></li>
  </ul>
</div>
<br>
<div>
  <router-outlet></router-outlet>
</div>



